<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Está com algum problema?</h2>
        <p>
            Entre em contato!
        </p>
        <p>
            <span class="glyphicon glyphicon-phone"></span>
            (11) 4002-8922
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Av. Jacinto Leite, 616 - 02469-700 - São Paulo
        </p>
    </div>
</div>




