@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h2>Promoções</h2>
<h4>Economize e leve tudo</h4>

<div class="row">
    @foreach (var lanche in Model.LanchesPreferidos)
    {
        @Html.Partial("_LanchesResumo", lanche)
    }
</div>